*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    width:100%;
    height:100vh;
margin: 0;
background-color: #f7f7f7;
background-image: url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.container{
    background-color: #c6cccd;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.6);
    text-align:center;
    max-width:600px;
    margin:0 auto;
    margin-top:100px;
    border-radius:10px;
    padding:20px
}
form{
    display:flex;
    justify-content: center;
    align-items:cemnter;
    padding:10px;
    
}
form input[type="text"]{
    padding:10px;
    border:none;
    outline:none;
    font-size:16px;
    width:60%;
    font-weight: 550;
    background: rgb(211, 211, 226);
    border-radius: 10%;
}
form input[type="submit"]{
    padding:10px;
    color:#fff;
    background-color: #007bff;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius: 5px;
}
form input[type="submit"]:hover{
    transform: scale(0.9);
    background-color: #0062cc;

}

.icon img{
    width:100px;
    height:100px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;

}
.temperature{
    font-size:48px;
    font-weight: 500;
}
.description{
    font-size:25px;
    margin: 20px 0;
}
.details{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    margin-bottom: 30px;


}
.details>div{
    padding:10px;
    background: #d6d0d0;
    margin-inline:10px;
    border-radius:5px;
    min-height:45px;

}
@media (max-width:768px){
    form{
        flex-direction: column;
    }
    form input[type="text"]{
        width:100%;
        margin-bottom: 20px;
    }
    form input[type="submit"]{
        width:60%;
        align-self: center;
    }
}